# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Flask instance folder
instance/

# IDE files
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
